.autor-card {
  display: flex;
  justify-content: center;
  width: 300px;
  margin: 0 auto;
  background-color: #3c3e44;
  color: var(--text-color);
  font-size: 1rem;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.autor-img {
  width: 100%;
  height: 300px; /* Puedes ajustarlo a tu gusto */
  object-fit: cover;
  object-position: 70% 15%;
  border-radius: 50% / 50%; /* Más ovalado verticalmente */
  display: block;
}

.autor-col {
  margin-bottom: 2rem;
  padding: 0 3.5rem;
}

.github-profile-linker {
  display: flex;
  cursor: auto;
  justify-content: flex-end;
  align-items: center;
  width: 100%; /* o el contenedor que lo aloje */
}

.github-profile-icon {
  margin-left: auto;
  cursor: pointer;
}
